* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h2 {
    text-transform: uppercase;
  }
  
  p {
    line-height: 1.5;
  }
  
  .sidebar {
    width: 60px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #999;
    transition: width 0.3s ease-in-out;
  }
  
  .sidebar:hover {
    width: 200px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    height: 60px;
    margin-top: 34px;
  }
  
  .sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    padding-left: 0px;
  }
  
  .sidebar ul li a:hover {
    background-color: #666;
  }
  
  .sidebar ul li a span {
    display: none;
    margin-left: 10px;
  }
  
  .sidebar:hover ul li a span {
    display: inline-block;
  }
  
  .sidebar ul li a img {
    font-size: 24px;
    margin-left: 18px;
  }
  
  .sidebar:hover ul li a img {
    margin-left: 30px;
  }
  
  .menu-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-title span {
    font-size: 18px;
    color: white;
  }
  
  .content {
    margin-left: 60px;
    padding: 60px;
  }
  
  .content h2 {
     margin-top:20px; 
     margin-bottom:10px; 
  }